.before {
    background: url('http://getwallpapers.com/wallpaper/full/8/0/4/282612.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
}

.section-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.before-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
    width: auto;
}

.before-wrapper:before {
    display: block;
    height: 100%;
    width: 100%;
    content: '';
}


