* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: #333;
    overflow: hidden;
}

.container {
    max-width: 1100px;
    margin: auto;
    height: 100%;
}

.text-primary {
    color: #3693ff;
}

.menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

.hide {
    display: none;
}

.appear {
    display: block;
}

/*color: #3693ff;*/

.nav {
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    padding: 1.5rem 8rem;
    /*one rem defoult is 15px*/
    position: fixed;
    /* when we scroll is visible all the time*/
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-list-link {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.nav-list-link:hover {
    background-color: #3693ff;
}

/* Showcase Area */

.header {
    background: url(../images/background.jpg) no-repeat center center/cover;
    height: 100vh;
}

.main-title {
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
    color: white;
    margin: 0 15%;
}

.main-motto {
    position: absolute;
    font-size: 30px;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: white;

}


/* Section: About */

.about {
    padding: 5rem 0;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-heading {
    font-weight: bold;
    text-align: center;
}

.about-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.about-content {
    display: flex;
    justify-content: center;
}

.about-text {
    text-align: center;
    width: 60%;
}

.about-image-box {
    width: 40%;
}

.about-image {
    display: block;
    width: 55%;
    border-radius: 40%;
}

.about-description-part1 {
    margin-bottom: 5%;
}

.map-container {
    margin-top: 5%;
}

.map {
    width: 100%;
}

/* projects section */
.about-heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.project-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.project-link {
    text-decoration: none;
}

code {
    text-align: center;
    color: black;
}

.project-button {
    display: block;
    text-align: center;
    margin: 5% auto;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
    cursor: pointer;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    color: white;
    transform: scale(1);
    transition: 0.4s;
}

.project-button-link:hover .project-button {
    transform: scale(1.07);
}

.project-button-link {
    text-decoration: none;
}

/* contact section */
.contact {
    padding: 5rem 0;
}

.form-containter {
    position: relative;
}

.form-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top: 5rem;
}

.form-box {
    background: #fff;
    padding: 3rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(179, 173, 179, 1);
    -moz-box-shadow: 0px 5px 20px 0px rgba(179, 173, 179, 1);
    box-shadow: 0px 5px 20px 0px rgba(179, 173, 179, 1);
}

.form-group {
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;
}

.form-group input,
.form-group textarea {
    width: 80%;
    margin-left: 10%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
}

.form-group textarea {
    font-family: Arial, sans-serif;
}

.contact-btn {
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background: #3693ff;
    color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: 0.4s;
}

.contact-btn:hover {
    background: #0378ff;
}

.mail-icon {
    font-size: 4rem;
    background: #3693ff;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2.4rem;
    border-radius: 50%;
    position: absolute;
    top: -7%;
    left: 45%;

}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #d6249f;
    color: white;
}

.fa-youtube {
    background: red;
    color: white;
}

.fa-github {
    background: grey;
    color: white;
}

.socials {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 15px;
    font-weight: bold;
}

tr {
    transition: 0.4s;
    cursor: pointer;
}

tr:hover {
    background-color: #3693ff;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    display: flex;
    justify-content: center;
}

/* all mediaqueries for all resolutions */

@media (max-width: 1199px) {
    .main-title {
        font-size: 40px;
        text-align: center;
        padding-top: 35%;
        color: white;
        margin: 0 15%;
    }
}

@media (max-width: 991px) {

    /* nav section */
    .nav-link {
        font-size: 26px;
        height: 50px;
        margin: auto 0;
    }

    .nav-list {
        display: none;
        position: absolute;
        width: 100%;
        height: 500px;
        top: 111px;
        right: 0;
        list-style: none;
        background-color: black;
        text-align: center;
    }

    .nav-list-item {
        font-size: 16px;
        margin: 5%;
    }

    .menu-icon {
        display: block;
        width: 60px;
        height: 60px;
        margin: auto 0;
        cursor: pointer;
        z-index: 1;
    }

    .close-icon {
        width: 60px;
        height: 60px;
        margin: auto 0;
        cursor: pointer;
        z-index: 1;
    }

    /* about section */
    .container {
        margin: 0 5%;
    }

    .about-container {
        position: relative;
        padding-top: 45%;
    }

    .about-image-box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .about-image {
        width: 100%;
    }

    .about-heading {
        font-size: 80px;
    }
}

@media (max-width: 767px) {
    .projects-title {
        font-size: 60px;
    }

    .nav-list {
        height: 400px;
    }
}

@media (max-width: 575px) {
    .nav {
        padding: 5% 5% 5% 10%;
    }

    .about-text {
        width: 80%;
    }

    .about-description-part1 {
        font-size: 18px;
    }

    .about-description-part2 {
        font-size: 18px;
    }

    .project-button {
        font-size: 24px;
    }
}

@media (max-width: 360px) {
    .nav {
        padding: 5%;
    }

    .nav-list {
        height: 300px;
        top: 99px;
    }

    .main-title {
        margin-top: 10%;
        font-size: 30px;
    }

    .main-motto {
        margin-top: 10%;
        font-size: 20px;
    }

    .about-heading {
        font-size: 60px;
    }

    .about-image-box {
        width: 60%;
    }

    .about-text {
        padding-top: 35%;
    }

    .map {
        height: 300px;
    }

    .projects-title {
        font-size: 40px;
    }

    .project-button {
        font-size: 20px;
    }

    .contact-btn {
        text-align: center;
        width: 90%;
        font-size: 16px;
        margin: 0 auto;
    }
}
