*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    overflow: scroll;
}

body
{
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color:#333;
    overflow: hidden;
}

.container
{
    max-width: 1100px;
    margin: auto;
}
.text-size-flex-1_5{
    font-size: 1vw;
}

.image-size-flex-1_5{
    width: 20vw;
    height: 20vw;
}

.text-primary
{
    color: #3693ff;
}
/*color: #3693ff;*/

#navbar
{
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    padding: 1.5rem 8rem; /*one rem defoult is 15px*/
    position: fixed; /* when we scroll is visible all the time*/
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
    width:100%;
}

#navbar ul
{
    display: flex;
    align-items: center;
    list-style: none;

}

#navbar h2 a
{
    color: #fff;
    text-decoration: none;
}

#navbar li a
{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.5s;
}

#navbar li a:hover
{
    background-color: #3693ff;
}

/* Showcase Area */

#showcase
{
    background: url(../images/background.jpg) no-repeat center center/cover;
    height: 98vh;
}

.showcase-content
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.showcase-content h1
{
    font-size: 4rem;
    margin-bottom: 2rem;
}

/* Section: About */

#about
{
    padding: 5rem 0;
}

#about h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#about h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p.lead
{
    margin-bottom: 1rem;
}

#about .about-content
{
    display: flex;
}

#about .about-text,
#about .about-image
{
    flex: 1;
}

#about .about-text
{
    text-align: center;
}

#about .about-image img
{
    display: block;
    margin-left: auto;
    width: 55%;
    border-radius: 40%;
    margin-top: 150px;

}


.about-heading
{}

.about-content
{

}

.lead
{

}

.about-image
{}

code
{
    text-align: center;
    color: black;
}

#article
{
    background-color: gray;
    font-family: Arial, sans-serif;
}

#fragment
{
    text-align: center;
    color: #25ff00;
    font-family: "Times New Roman", Times, serif;
}

#projects h1
{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(153, 51, 0);
    margin-bottom: 10px;
}

#contact
{
    padding: 5rem 0;
}

#contact h2
{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
}

#contact h3
{
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top:5rem;
}

#contact .form-box
{
    background: #fff;
    padding: 3rem;
    box-shadow: 2px 2px 5px #d1d1d1;
    border-radius: 10px;
}

#contact .form-group
{
    margin-bottom: 2rem;
}

#contact .form-group label
{
    display: block;
    margin-bottom: 0.5rem;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;
}

#contact .form-group input,
#contact .form-group textarea
{
    width: 80%;
    margin-left: 10%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
}

#contact .form-group textarea
{
    font-family: Arial, sans-serif;
}

#contact .contact-btn
{
    width:80%;
    margin-left: 10%;
    display: inline-block;
    padding: 1rem 3rem;
    border:none;
    border-radius: 5px;
    font-size: 1.5rem;
    background: #3693ff;
    color:#fff;
    margin-bottom: 2rem;
    cursor: pointer;
}

#contact .contact-btn:hover
{
    background: #0378ff;
}

#contact .form-containter
{
    position: relative;
}

#contact .mail-icon
{
    font-size: 4rem;
    background: #3693ff;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2.4rem;
    border-radius: 50%;
    position: absolute;
    top: -7%;
    left: 45%;

}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #d6249f;
    color: white;
}

.fa-youtube {
    background: red;
    color: white;
}

.fa-github {
    background: grey;
    color: white;
}

#socials
{
    text-align: center;
}

#projects h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#projects h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*#projects .map-image img*/
/*{*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    width: 55%;*/
/*    border-radius: 40%;*/
/*    margin-top: 10px;*/

/*}*/



#projects .about-content
{
    display: flex;
}

#projects .about-text,
#projects .map-image
{
    flex: 1;
}

#projects .about-text
{
    text-align: center;
}

#projects .map-image img
{
    display: block;
    margin-left: auto;
    width: 55%;
    border-radius: 40%;
    margin-top: 10px;

}

/*ul.a {*/
/*    list-style-type: circle;*/
/*}*/

/*ul.b {*/
/*    list-style-type: square;*/
/*}*/

/*ol.c {*/
/*    list-style-type: upper-roman;*/
/*}*/

/*ol.d {*/
/*    list-style-type: lower-alpha;*/
/*}*/

/*ol {*/
/*    background: #ff9999;*/
/*    padding: 20px;*/
/*}*/

ul.blue {
    background: #3693ff;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

/*ul li {*/
/*    background: #cce5ff;*/
/*    margin: 5px;*/
/*}*/

/*ul.a {*/
/*    list-style-position: outside;*/
/*}*/

/*ul.b {*/
/*    list-style-position: inside;*/
/*}*/

ul.head {
    list-style-image: url('../images/small-head.gif');
    /*float: right;*/
    /*text-align: right;*/
    list-style-position: inside;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    font-weight: bold;
}
tr:hover {background-color: #3693ff;}

/*f5f5f5*/

/*th, td {*/
/*    padding: 15px;*/
/*    text-align: left;*/
/*}*/
#about .location-image img
{
    display: block;
    margin-left: auto;
    width: 100%;
    /*border-radius: 20%;*/
    margin-top: 40px;

}
#about .location-image-image
{
    flex: 1;
}
